
body {  text-align: center;
		background: #FF8C00;
		background-size: 30% 100%;
		font-family: Helvetica;
		font-size: 20px;
		padding-bottom:2cm;
		color: darkslategray;

}
h1 {
		background: #87CEEB;
		color: darkslategray;
		text-align: center;
		margin-left: auto;
        margin-right: auto;
        font-size: 4em;
}

h4	{	color: #87CEEB;
		text-align: left;
		padding: 10px 0.25em 3ex 20%;
}
h3	{	font-family: Times New Roman,
		Georgia, serif;
		font-weight: bold;
		font-size: 32px;

}
a   {	text-decoration: none;
		text-align: left;
}
a:hover 
	{
 		background: yellow;
}