.container{ 
	width:900px; position:relative; height:900px; margin:0 auto
}

body{
	background:-moz-linear-gradient(top,#F5F5DC,#000000);
	}
/*p{
	text-align:center; font-family: Papyrus; font-size: 40px; transform: translateY(0%)
}*/
strong{
	font-size: 60px; color: red
}
a{
	text-decoration: none
}
.textone{ text-align: left;font-size: 30px; color:white;text-align:center;position: absolute;font-family: Papyrus; 
	      transform: translateY(100%)translateX(45%);}
.texttwo{ text-align: left;font-size: 50px; color:gray;text-align:center;position: relative;font-family: Papyrus;
	      transform: translateY(50% ) }
.textthree{text-align: left;font-size:60px; color:Blcak;text-align:center;position: absolute;font-family: Papyrus;
	transform: translateY(-50%); }

}