body{
	position: relative;background: gray
}
.no1{
	position:relative;
left:20px; bottom: -700px;
}
.no2{
	position:relative;
left:20px;
top:270px
}
.no3{
	position:relative;
right:-20px;
top:-90px
}
.no4{
	position:relative;
right:-20px;
top:-395px
}
.no5{
	position:relative;
right:-20px;
top:-670px
}
.no6{
	position:relative;
right:-20px;
top:-1000px
}
a{
	text-decoration: none;
}
a:hover,.text:active{color: white; }