.block{
	color: gray

}
.no6{
	background: yellow; font-family: Brisa
}

strong{
	font-size: 50px; font-family: Broadway; color: LightGoldenRodYellow; letter-spacing: 20px
}
body{
	background: LightGrey
}