.kaitou{
	background: #080808;color: white
}
.cl11{
	background: #181818
}
.cl2{
	background: #303030
}
.cl3{
	background: #505050
}
.cl4{
	background: gray
}
.cl5{
	background: #A0A0A0
}
.cl6{
	background: #C0C0C0
}
.cl7{
	background: #D8D8D8
}
.cl8{
	background: #F0F0F0
}